.grid {
	display: grid;
	height: 500px;
	width: 850px;
	grid-template-columns: repeat(4, 2fr);
	grid-template-rows: repeat(4, 2fr);
}

.header {
	background-color: #dae7de;
	grid-column: span 2;
	grid-row: span 2;
	font-size: 3.5rem;
	text-align: center;
	line-height: 250px;
	color: #ef5014;
}

.content {
	background-color: #008a69;
	grid-column: span 2;
	grid-row: span 2;
	font-size: 3.5rem;
	text-align: center;
	line-height: 250px;
	color: #dae7de;
}

.nav {
	background-color: #ef5014;
	grid-column: span 2;
	grid-row: span 2;
	font-size: 3.5rem;
	text-align: center;
	line-height: 250px;
	color: #dae7de;
}

.footer1 {
	background-color: #f7abc5;
	font-size: 30px;
	text-align: center;
	line-height: 125px;
	color: #ef5014;
}

.footer2 {
	background-color: #5f5fa9;
	font-size: 30px;
	text-align: center;
	line-height: 125px;
	color: #dae7de;
}

.footer3 {
	background-color: #ffc128;
	font-size: 30px;
	text-align: center;
	line-height: 125px;
	color: #ef5014;
}

.footer4 {
	background-color: #f97374;
	font-size: 30px;
	text-align: center;
	line-height: 125px;
	color: #dae7de;
}
